#mapid
{
    height: 450px; /*553*/
    width: 954px;
}

#candidate_img
{
    height: 125px;
}

#sm_candidate_img
{
    display: inline-block;
    /*border-style: solid;*/
    height: 85px;
}

#can-list h3, #can-list p{
    display: inline-block;
}

.leaflet-control-attribution {
    display: none;
}

.holder{
    display: inline-block;
    bottom: 0;
}

#can-list span:before, p:before{
    content:" ";
    display:inline-block;
    width:24px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.hidden {
     display:none;
}

.legend {
    line-height: 18px;
    color: #555;
    float: left;
}
.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.list_el{
        display: inline-block;
}
